<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Palatable">
	<listeners>
		<listener class-name="com.palatable.ios.utilites.Reporting" />
	</listeners>
	
	
	
	<test name="LaunchTest">
		<classes>
			<class name="com.palatable.ios.testcases.LaunchScreenTesting" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
